
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<form action="/Home/Login" method="Post">
    User Name : @Html.TextBox("UserName")
    Password : @Html.Password("Password")
    Remember Me : @Html.CheckBox("Rememberme")
    @Html.Hidden("ReturnUrl", new {@value=ViewBag.ReturnUrl})
     
    <button type="submit">Login</button>
</form>

