
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h3>@ViewBag.data1</h3>
<h3>@ViewData["data2"]</h3>
@*We will use the razor syntax to display the elements in the collection object passed thru the view
        
*@
@foreach(var item in Model)
            {
                <p>@item</p>
            }


