
@{
    ViewBag.Title = "AnotherMethod";
}

<h2>Another Method</h2>
<h2> Displaying the Partial Product View</h2>
<p>This is an example to render partial views</p>
<hr/>
@Html.Partial("ProductDetails")

