@*@model IEnumerable<PartialViewsPrj.Models.Product>*@
@{
    ViewBag.Title = "Index";
}

<h2>Product List</h2>

@*@Html.Partial("ProductDetails",Model)*@

@*@{Html.RenderPartial("ProductDetails", Model);
        
}*@

@{Html.RenderAction("GetAllproducts", "Product"); }